frontend/node_modules

# Output
frontend/.output
frontend/.vercel
frontend/.netlify
frontend/.wrangler
frontend/.svelte-kit
frontend/build

# OS
api/.DS_Store
api/Thumbs.db
api/.idea

# Env
.env
.env.*
!.env.example
!.env.test
.idea

# Vite
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*